/*
 * metismenu - v2.2.0
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu#readme
 *
 * Made by Osman Nuri Okumuş <onokumus@gmail.com> (https://github.com/onokumus)
 * Under MIT License
 */

.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}


.metismenu li > a[aria-expanded="true"] > span:after {
    font-family: fontawesome;
    float: right;
    content: "\f0d8";
  /*   content: "\f068"; */

}

.metismenu .menu-item-has-children > a > span:after {
    font-family: fontawesome;
    float: right;
    content: "\f0dd";
  /*  content: "\f067"; */

}
